*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

body {
    background-image: url('https://w.wallhaven.cc/full/3z/wallhaven-3zgz2y.png');
    padding: 0;
    margin: 0;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    color: rgb(227, 180, 180);
    font-size: 5rem;
}

p {
    color: rgb(235, 207, 207);
    font-size: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.span-time {
    color: rgb(247, 234, 234);
    font-size: 2rem;
    text-shadow: 2px, black;
    padding-left: 2rem;
}

.text {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#fixdays {
    padding-left: 3.7rem;
}